<div>
<img src="https://i.ibb.co/v3CvVz9/udd-short.png" width="150"/>
    <br>
    <strong>Universidad del Desarrollo</strong><br>
    <em>Magíster en Data Science</em><br>
    <em>Profesor: Víctor Navarro Aránguiz</em><br>

</div>

# Python para Data Science: Tarea 05
*16 de Julio de 2024*

**Fecha de Entrega**: 21 de Julio de 2024

**Objetivos:**
  - Familiarizarse con el manejo de versiones a través de Git.

**Puntaje Total:** 12 Puntos

**Nombre Estudiante(s)**: `Giuseppe Lavarello`

## 1 Initializacion
- Utilice pandas para leer el siguiente csv: 
    - https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv

- Muestre inicialmente el tamaño (shape) del DataFrame creado, junto a las primeras 5 columnas. Realice
los commits que considere pertinentes.

In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv")
print(f"El dataset tiene {df.shape[1]} columnas y {df.shape[0]} filas.")
print("Las primeras 5 filas son:")
df.head(5)

El dataset tiene 5 columnas y 150 filas.
Las primeras 5 filas son:

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa